extends ../partials/navbar
block main
  .general-header-wrapper
  .all-content-inner-wrapper
    .general-writing-edit-wrapper
      .general-writing-edit-header
      .general-writing-edit-content(contentEditable=true)
        h1.general-writing-title This is a title
        h2.general-writing-subtitle This is a subtitle
        //- h2.general-writing-list-item 1. This is a title list
        .general-writing-quote This is a quote
        .general-writing-text This a text and text and texta ajdsf oasjdf opıjasdm foıp ashfoıas fpüıhas fjaspfınq wnrebüıabf jfeü890wafrn qwı0ühasjd fıh aıosdfh9asnjkdf ıü0ahsdfasfıhaj dfıa0sfjasbfıas fıgaha sfıohsı ıhasdf 
        .general-writing-text This a text and text and text
        .general-writing-bullets