:root {
  --max-input-width: 400px;
  --input-height: 35px;
}

.general-input {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  margin-bottom: 10px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 2px var(--shadow-color);
  background-color: var(--background-color);
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 0 15px;
  border-radius: 3px;
}
.general-input::placeholder {
  font-weight: 500;
  color: var(--placeholder-color);
}
.general-input:focus {
  border-color: var(--main-color);
  box-shadow: none;
}

.general-input-not-allowed {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  margin-bottom: 10px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 2px var(--shadow-color);
  background-color: var(--background-color);
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 0 15px;
  border-radius: 3px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
}

.general-image-input-wrapper {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  margin-bottom: 10px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 2px var(--shadow-color);
  background-color: var(--background-color);
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 0 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.general-image-input-placeholder {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color-two);
  width: 100%;
}
.general-image-input-image {
  height: calc(var(--input-height) - 10px);
  min-height: calc(var(--input-height) - 10px);
  width: calc(var(--input-height) - 10px);
  min-width: calc(var(--input-height) - 10px);
  background-color: var(--text-color);
  background-size: cover;
  border-radius: 2px;
}
.general-image-input-delete-button {
  margin-left: auto;
  height: 15px;
  width: auto;
  cursor: pointer;
  opacity: 0.8;
}
.general-image-input-delete-button:hover {
  opacity: 1;
}

.general-checkbox-input-wrapper {
  display: flex;
  align-items: center;
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  cursor: pointer;
}
.general-checkbox-input-box {
  border: 1px solid var(--text-color);
  background-color: var(--box-color);
  width: 15px;
  height: 15px;
  min-width: 15px;
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.general-checkbox-input-box-selected {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
.general-checkbox-input-icon {
  height: 13px;
  min-height: 13px;
}
.general-checkbox-input-text {
  font-weight: 600;
  font-size: 13px;
  color: var(--text-color);
}

.general-select-input-wrapper {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  margin-bottom: 10px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 2px var(--shadow-color);
  background-color: var(--background-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}
.general-select-input-real-value {
  display: none;
}
.general-select-input-selected-value {
  width: 100%;
  min-width: 100%;;
  height: var(--input-height);
  min-height: var(--input-height);
  outline: none;
  border: none;
  background-color: var(--background-color);
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 0 15px;
  border-radius: 3px;
  z-index: 2;
}
.general-select-input-selected-value::placeholder {
  font-weight: 500;
  color: var(--placeholder-color);
}
.general-select-input-choices-wrapper {
  width: calc(100% + 2px);
  min-width: calc(100% + 2px);
  margin-left: -1px;
  margin-top: -3px;
  padding-top: 3px;
  height: 120px;
  min-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 1px solid var(--main-color);
  border-top: none;
  /* margin-top: -2px; */
}
.general-select-each-input-choice {
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 5px 10px;
  height: fit-content;
  min-height: fit-content;
  border-bottom: 1px solid rgba(248, 248, 248, 0.1);
  cursor: pointer;
}
.general-select-each-input-choice:hover {
  background-color: var(--shadow-color);
}

.general-button {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: var(--input-height);
  min-height: var(--input-height);
  margin-bottom: 10px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 2px var(--shadow-color);
  background-color: var(--background-color);
  font-weight: 600;
  font-size: var(--text-font-size);
  color: var(--text-color);
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.general-button:hover {
  border-color: var(--main-color);
}

.general-error {
  width: calc(min(100%, var(--max-input-width)));
  min-width: calc(min(100%, var(--max-input-width)));
  height: fit-content;
  min-height: fit-content;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: 400;
  text-align: center;
  color: var(--warning-color);
  margin-bottom: 10px;
}
